@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/OpenSans-Bold-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald Bold';
  src: url("../fonts/Oswald-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

* { margin: 0; padding: 0; -webkit-box-sizing: border-box; }
html, body { width: 100%; height: 100%; }

body{
    font-family: 'Open Sans';
    -webkit-font-smoothing: antialiased;
    font-size: 12px;

    height: 300px;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    padding-top: 20px;

    color: rgba(235,235,235,1);
    opacity: 0;

    -webkit-user-select: none;

    /* How pronounced should the 3D effects be */
    perspective: 800px;
    -webkit-perspective: 800px;

    text-decoration: none;
}

a {
    text-decoration: none;
    transition: 0.15s ease;
    transform-origin: center center;
}

a:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.fa {
    font-size: 24px;
}

.enabled {
    background: #ff5c00 url(alert-overlay.png) repeat-x;
    cursor: pointer;
}

.hidden, .offlabel {
   visibility: hidden;
}


.animate-4x, .animate-2x, .animate , .animate-2h, .animate-4h {
    transition-duration: 0.7s;
    transition-timing-function: ease;
    transition-property: all;
}
.animate-4h { transition-duration: 0.17s; }
.animate-2h { transition-duration: 0.35s; }
.animate-2x { transition-duration: 1.4s; }
.animate-4x { transition-duration: 2.8s; }

@-webkit-keyframes dropAreaRotate {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(360deg);
    }
}

@-webkit-keyframes errorFlash {
    0% , 100% {
        opacity: 0.0;
    }

    0.1 {
        opacity: 0.0;
    }

    99% {
        opacity: 1.0;
    }
}






.info-message {
    width: 100%;
    position: absolute;
    opacity: 1;
    text-align: center;
    color: rgba(255,255,255,0.95);
    text-shadow: 0px 0px 5px#000;
    font-size: 24px;

    margin: calc((100% - 3.5em)/2.0) auto;

    font-weight: bold;
    font-family: 'Open Sans Bold';
    -webkit-user-select: none;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    -webkit-app-region: no-drag;
    pointer-events: auto;
}

.info-message > p {
    font-weight: normal;
}

.sub-message {
    font-size: 0.7em;
    font-family: 'Open Sans'
}





/*
 * Error/Message/Success Dialogs
 */
body.error .dropArea:after,
body.error .deviceDiscovery:after {
    position: absolute;
    border-radius: 50%;
    content: '';

    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;

    background-color: rgba(255,35,35,0.9 );

    /* Animate the transitions */
    -webkit-animation:  errorFlash 0.4s ease-out;
    -webkit-animation-fill-mode: both;
}

body.message .dropArea:after,
body.message .deviceDiscovery.after {
  background-color: rgba(128,128,35, 0.9);
}




/*
 * General State of app
 *
 * dropCircle
 *     (.drag-hover)
 *       ->  (.torrent-prefetch)
 *                  ->  show File Name / progress
 *       -> (torrent:video_buffered)
 *                           ->  select Device
 *
*             (at this moment the circle spin)
 *
 *  deviceCircle
 *      (select device to Play)
 *          -> device:play
 *                          -> (device:played)
 *                          -> (device:error)
 *
 *         <- dropCircle
 *
 *
 */









.dropArea ,
.deviceDiscovery {
    position: absolute;

    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.6);

    width: 100%;
    height: inherit;
    z-index: 10;

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;

    /* We are using two separate divs for the front and back of the
    phone. This will hide the divs when they are flipped, so that the
    opposite side can be seen:  */
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    /*background-color: rgba(0,0,0,0.8 );*/

    /* Animate the transitions */
    transition-timing-function: cubic-bezier(.29,1.44,.86,1.06);
}

.bg {
    position: absolute;
    width: 100%; height: 100%;
    top: 0px; left: 0px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-app-region: drag;
}

.dropArea .bg {
    background: url(../images/progress.gif) center/0% no-repeat,
                url(../images/bg_2.gif) center/120% no-repeat border-box;

    -webkit-animation: dropAreaRotate 120s infinite;
}


.dropArea.empty .loading {
    visibility: hidden;
}

.dropArea.empty .torrent-status {
    visibility: hidden;
    opacity: 0;
}

.dropArea.drag-hover {
    border: 10px solid rgba(0, 0, 0, 0.75);

    /* Animate the transitions */
    transition: 0.5s ease;
}

.dropArea.empty .info-message {
    transform: translateY(-100px);
    opacity: 0;
}

.dropArea.empty.drag-hover .loading {
    visibility: visible;
    transform: scale(1.0);
    background-color: rgba(12,23, 5, 0.56);
    border-radius: 100%;
}


.dropArea.has-file .bg{
    -webkit-filter: saturate(1.5);

    /* Animate the transitions */
    transition: 0.5s ease-out;
}

.dropArea.has-file .info-message {
    transform: translateY(-100px);
    opacity: 0;
    pointer-events: none;
}



.dropArea.has-file .loading {
    visibility: visible;
    transform: scale(1.0);
    background-color: rgba(12,23,6,0.56);
    border-radius: 100%;
}



.torrent-status {
    width: 100%;
    height: 100%;

    position: absolute;
    text-align: center;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    visibility: hidden;
    color: #fff;

    -webkit-app-region: no-drag;
    pointer-events: auto;
}
.torrent-status > .msg {
    opacity: 0;
    transform: scale(0.1);
    visibility: visible;
    position: absolute;
    top: 20%;
    width: 80%;
    margin: 0% 10%;
}

.torrent-status .msg .peers {
    color: #fff;
    font-family: 'Oswald';
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    padding: 0px 5px;
    line-height: 0px;
}

.torrent-status > .filename {
    position: absolute;
    color: #fff;
    font-family: 'Oswald';
    width: 90%;
    left: 5%;
    top: 35%;

    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px,
                 rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
    text-overflow: ellipsis;
    word-break: break-word;
    overflow: hidden;

    font-size: 20px;
    font-weight: 700;
}

.torrent-status > .stats {
    top: 75%;
    position: absolute;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
    line-height: 0px;
    width: 60%;
    margin: 0% calc( 50% - 30% );
}

.sofar, .size {
    font-family: 'OsWald';
}







.torrent-loading .downloadProgress {
    /*box-shadow: rgba(0, 255, 61, 0.62) 0px 0px 5px;*/
}
.torrent-loading .torrent-status > * {
    opacity: 0;
    transform: scale(0.1);
}

.torrent-ready .torrent-status > * {
    opacity: 1;
    visibility: visible;
}


.torrent-loading .torrent-status .msg ,
.torrent-ready .torrent-status .msg {
    opacity: 1;
    transform: scale(1.0);
    visibility: visible;
}











.deviceDiscovery {
    z-index: 0;

    /* The back side is flipped 180 deg by default */
    transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.deviceDiscovery .loading {
    transform: scale(1.0);
}

.deviceDiscovery .bg {
    background: url(../images/bg_0.gif) center;
}

.torrent-ready .deviceDiscovery .loading {
    opacity: 1;
}


.deviceDiscovery .label {
    position: absolute;
    text-align: center;
    color: #fff;

    font-size: 24px;
    font-family: 'Oswald Bold';

    top: 20%;
    width: 80%;
    margin: 0% 10%;

    pointer-events: none;
    -webkit-user-select: none;
}

.deviceList {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    pointer-events: none;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.deviceList .device {
    width: 128px;
    height: 32px;
    position: absolute;
    pointer-events: auto;
    -webkit-app-region: no-drag;

    left: calc(50%);
    top: calc(50%);
    opacity: 0;

    /* Animate the transitions */
    transition: 0.35s ease-out;

    transform: translateY(-16px) translateX(-64px);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.deviceList .device .micon {
    background-color: rgba(0,0,0,0.8);
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
    width: 32px;
    height: 32px;
}

.deviceList .device h4 {
    border-radius: 30px;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    position: relative;
    width: 100%;
    max-width: 150px;
    height: 20px;
    line-height: 1.5em;
    text-overflow: ellipsis;
    overflow: hidden;

    opacity: 0;
    transition: 0.15s ease-out;
}

.deviceList a.device:hover h4 {
    transform: translateY(-16px);
    opacity: 1;
}


.deviceList .device.labelOnTop h4 {
    margin-top: 0px;
}
.deviceList .device.labelOnTop h5 {
    position: relative;
    top: -35px;
}

.deviceList .device.labelOnBottom h4 {
    margin-bottom: 0px;
}

.deviceList .device.labelOnBottom h5 {
    position: relative;
}

/* Start each device with a delay */
.deviceList .device:nth-child(1){ transition-delay: 0.2s; }
.deviceList .device:nth-child(2){ transition-delay: 0.4s; }
.deviceList .device:nth-child(3){ transition-delay: 0.6s; }
.deviceList .device:nth-child(4){ transition-delay: 0.8s; }
.deviceList .device:nth-child(5){ transition-delay: 0.0s; }
.deviceList .device:nth-child(6){ transition-delay: 1.2s; }
.deviceList .device:nth-child(7){ transition-delay: 1.4s; }
.deviceList .device:nth-child(8){ transition-delay: 1.6s; }









.device-icon {
   content:url("./../images/AirplayIconSmall.png");
}

.device-icon.off {
    content:url("./../images/AirplaySmallOff.png");
}

.airplay-icon {
   content:url("./../images/AirplayIconSmall.png");
}

.airplay-icon.off {
    content:url("./../images/AirplaySmallOff.png");
}

.chrome-icon {
   content:url("./../images/ChromecastSmall.png");
}

.chrome-icon.off {
   content:url("./../images/ChromecastSmallOff.png");
}

.vlc-icon {
   content:url("./../images/external-vlc-icon.png");
}

.vlc-icon.off {
    content:url("./../images/AirplaySmallOff.png");
}

.xbmc-icon {
   content:url("./../images/AirplayIconSmall.png");
}

.xbmc-icon.off {
   content:url("./../images/AirplaySmallOff.png");
}


.playbutton {
    content:url("./../images/play.png");
    cursor:pointer;
}

.forwardbutton {
    content:url("./../images/forward.png");
    cursor:pointer;
}


.rewindbutton {
    content:url("./../images/rewind.png");
    cursor:pointer;
}

.stopbutton {
    margin-top: -20px;
   content:url("./../images/stop.png");
    cursor:pointer;
}

.pausebutton {
    margin-top: -20px;
   content:url("./../images/pause.png");
    margin-right:9px;
    cursor:pointer;
}

.controlbutton {
    display: inline-block;
}











/*
 * Circle Animation
 *
 */
.loading {
    margin: 0px auto;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    border-radius: 100%;
    overflow: hidden;

    transform: scale(0.1);
}


.downloadProgress {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: visible;

    box-shadow: none;
    border-radius: 100%;
}


.load-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    color: rgb(0,255,148);
    border-radius: 50%;
    left: calc( 50% - 16px );
    top: calc( 50% - 16px );
    text-align: center;
    line-height: 1.4;
    pointer-events: auto;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    -webkit-app-region: nodrag;
    -webkit-pointer-events:
}

@-webkit-keyframes circleGrow {
    from {
        transform: scale(0.15);
    }

    to {
        transform: scale(1);
        opacity: 0;
    }
}

.circleIcon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid rgba(255,255,255,1.0) !important;
    position: absolute;

    -webkit-animation: circleGrow 4s infinite;
    -webkit-animation-timing-function: ease-out;
    z-index: 0;
    pointer-events: none;
}
.loading .circleIcon:nth-child(1){
    -webkit-animation-delay: 0.1s;
}
.loading .circleIcon:nth-child(2){
    -webkit-animation-delay: 0.2s;
}






/*
 * FlipPage contains two child
 * dropArea and deviceDiscovery,
 */
.flipbook {

    /*
     * On mac, drag still allow the events to go trought.
     * In Windows, drag block the event bubbling.
     *
     * Disabling for now while i find a fix...
    -webkit-app-region: drag;
    */

    height: 260px;
    width: 260px;
    margin: 0 auto;

    // Basic shadow
    text-align: center;

    /* How pronounced should the 3D effects be */
    perspective: 800px;
    -webkit-perspective: 800px;

    /* pointer-events: none; */
}

.flipbook.flip .dropArea{
	/* When the container is hovered, flip the front side and hide it .. */
	transform:rotateY(180deg);
	-webkit-transform:rotateY(180deg);

    z-index: 0;
}

.flipbook.flip .deviceDiscovery{
	/* .. at the same time flip the back side into visibility */
	transform:rotateY(360deg);
	-webkit-transform:rotateY(360deg);

    z-index: 10;
}
